.DS_Store
*.map
.temp
.sp
.npmignore
.editorconfig
.eslintignore
.idea
.gitignore
/node_modules
/schemas
/public
/apps
/src
/svg
!ui/**/*
/tests
/docs
!web/docs
/dist
/sp.config.js
/babel.config.js
!core/babel.config.js
/vue.config.js
!core/vue.config.js

